.site-logo {
    max-width: 85%; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
}

.share-tech-mono-regular {
    font-family: "Share Tech Mono", monospace;
    font-weight: 400;
    font-style: normal;
  }
  

.share-tech-regular {
    font-family: "Share Tech", sans-serif;
    font-weight: 400;
    font-style: normal;
  }  